{% extends "/main/base.html" %}

{% block content %}

<h1><font size="15" color="black" face="fantasy"> Our products</font></h1>
<form class="form-inline ">
    <input class="form-control border-dark"  type="text" name="q" placeholder="Search" {% if request.args.get('q') != None%}
    value="{{request.args.get('q')}}" {%endif%}>
    <button class="btn btn-outline-dark" type="submit">Search</button>
</form>
{% if request.args.get('q') != None%}
<h4><font  color="black" face="fantasy">Search '{{request.args.get('q')}}'</font></h4>

<hr>
{% else %}
<hr>
{%endif%}

<div class="row ">
    <div class="card-deck">
    {% for product in products.items %}

    <div class=" mb-4 ">

    <div class="card h-100 border-light text-white bg-dark">
       <img class="rounded-circle account-img"  width="352" height="352"
                 src="{{  url_for('products.static', filename='profile_pics/' + product.avatar)}}">
            <div class="card-body ">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{ product.price}} грн</p>
               <a href="{{ url_for('products.product', id = product.id)}}" class="navbar-item btn btn-outline-info">More informations
                &raquo;</a>
            </div>
        </div>
</div>
    <hr>

    {% endfor %}
    </div>
</div>

<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('products.all_products', page=products.prev_num) }}"
       class="btn btn-outline-dark text-dark
       {% if products.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    <!-- Check for the active page and set the link to "Active"-->
    {% if products.page == page_num %}
    <a href="{{ url_for('products.all_products', page=page_num) }}"
       class="btn btn-dark">
        {{ page_num }}
    </a>
    {% else %}
    <a href="{{ url_for('products.all_products', page=page_num) }}"
       class="btn btn-outline-dark text-dark">
        {{ page_num }}
    </a>
    {% endif %}
    {% else %}
    ...
    {% endif %}

    {% endfor %}

    <a href="{{ url_for('products.all_products', page=products.next_num) }}"
       class="btn btn-outline-dark text-dark
       {% if products.page == products.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3 text-dark">
    Showing page {{ products.page }} of {{ products.pages }}
</p>


{% endblock %}

